<mat-card>
  <mat-card-title>
    Editar Persona
  </mat-card-title>
  <mat-card-content>
    <div class="form-content" [formGroup]="formPerson">
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Nombre</mat-label>
          <input matInput formControlName="name" >
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Apellidos</mat-label>
          <input matInput formControlName="lastname">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Tipo de Documento</mat-label>
          <mat-select formControlName="documentTypeId">
            <mat-option *ngFor="let type of documentTypes" [value]="type.id">{{type.shortName}}</mat-option>
          </mat-select>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Número de Documento</mat-label>
          <input matInput formControlName="documentNumber">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-form-field appearance="outline">
            <mat-label>Fecha de nacimiento</mat-label>
            <input matInput formControlName="birthday" type="date" name="trip-start" id="start" min="1931-01-01" max="2022-10-2" value="2022-10-02">
          </mat-form-field>
        </mat-form-field>
      </p>
      <button mat-raised-button (click)="cancel()"> Cancelar</button>
      <button mat-raised-button (click)="actualize()" [disabled]="formPerson.invalid">Actualizar</button>
    </div>
  </mat-card-content>
</mat-card>
